<h3>"Thanks for using our App - your order details are being updated in Paypal"</h3><by><br>

<p>
  <strong>Title:</strong>
  <%= @shop_domain %>
</p>

<p>
  <strong>Paypal Username:</strong>
  <%= @username %>
</p>
<p>
  <strong>Paypal Password:</strong>
  <%= @password %>
</p>