<div class="Polaris-Page">
  <div class="Polaris-Page__Header">
    <div class="Polaris-Page__Title">
      <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge w-100">Uhh Ohh</h1>
      <p>It looks like you denied our billing proposal for the app!</p>
      <p>To enable the app and enjoy fast and seamless updates to your Paypal Tracking Info, please click the home button above, or return to the Shopify app page and re-enter the app.</p>
      <p>If you have questions about our billing policy, please contact us at:<br /></p><br />
      <p>paypaltrackinginfo@gmail.com</p>
      <p> </p>
      <div></div>
      <p> </p>
      <p class="Polaris-TextStyle--variationSubdued">Otherwise, please return to the Shopify app page and uninstall the app.  </p>
    </div>
    <div class="Polaris-Page__Actions"></div>
  </div>
</div>